[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
requests = "*"
spacy = "*"
voikko = "*"
spacy-fi-experimental-web-md = ">=0.6.0"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
